body {
    background: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    font-family: "Libre Bodoni", serif;
  }
h1{font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;

}
ul{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
  color:#017bfe;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  
}
li:first-letter{
  text-transform: capitalize;
}
  button {
    display: block;
    margin: 0 auto;
    padding: 5px;
    background-color: #70a2f4;
    color: white;
    border-radius: 15px 15px;
    box-shadow: none;
  }
  
  .weather-app-wrapper{
    max-width: 600px;
    margin: 30px auto;
  }
  .weather-app{
    padding: 20px;
    border: 3px solid #dadde1;
    border-radius: 5px;}
    
    #icon{
     margin-left: 0px;
      margin-right: 0px;
      height: 90px;
      width: 90px;
      padding-bottom: 20px;
  }
  
  .overview {
    color: black;
    margin-bottom: 10px;
   
  }
  .overview:first-letter{
    text-transform: capitalize;
  }
  .temp {
    color: rgb(33,33,33);
        font-size: 64px;
        line-height: 1;
        font-weight: 400;
        padding: 0px;
  }
  .units{
    text-decoration: none;
  }
  
  #search-form {
    
    padding: 0px;
    margin-left: 0;
    margin-bottom: 10px;
  }
  
  #submit {
    appearance: none;
    background-color: #3EB2FD;
    background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
    background-size: calc(100% + 20px) calc(100% + 20px);
    border-radius: 100px;
    border-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor:pointer;
    display: inline-flex;
   
    font-size: 1rem;
    height: auto;
    justify-content: center;
    line-height: 1.5;
    padding: 4px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color .2s,background-position .2s;
    user-select: none;
    
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
  
  }
  #current-location-button{
   
    align-items: center;
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor:pointer;
  display: inline-flex;
 
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 5px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;

  }
  .weather-forecast{
    margin-top:20px;
    text-align: center;
    color:#017bfe;
  }
  .weather-forecast-date {
    font-size: 16px;
   
  }
  .weather-forecast-temperature-min{
    opacity: 0.6;
  }
.weather-forcast-temperatures{
  font-size: 14px;
}

 .active{
   color: black;
   cursor: default;
   text-decoration: none;
 }
 .active:hover{
   text-decoration: none;
   color: black;
 }


 #git-link{
   text-decoration: none;
   
 }